<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Títol</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="entrada.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Descripció</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="entrada.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <textarea
        id="body"
        required
        [(ngModel)]="entrada.body"
        name="body"
        ></textarea>
        <label for="body">Entrada</label>
      </div>
      <button (click)="saveEntrada()" class="btn btn-success">Crea</button>
    </div>
    <div *ngIf="submitted">
      <h4>Entrada creada correctament</h4>
      <button class="btn btn-success" (click)="newEntrada()">Afegir</button>
    </div>
  </div>
</div>
