<div>
  <div class="col-md-6">
    <h4>Crear una entrada</h4>
  </div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Títol</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="entrada.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="body">Història</label>
          <textarea
            class="form-control"
            id="body"
            required
            [(ngModel)]="entrada.body"
            name="body"
          ></textarea>
        </div>
        <button (click)="saveEntrada()" class="btn btn-success">Guardar</button>
      </div>
      <div *ngIf="submitted">
        <h4>Entrada guardada correctament!</h4>
        <button class="btn btn-success" (click)="newEntrada()">Afegir</button>
      </div>
    </div>
  </div>
  