<div *ngIf="viewMode; else editable">
    <div *ngIf="currentEntrada.id">
      <h4>Entrada</h4>
      <div>
        <label><strong>Títol:</strong></label> 
        <br>
        {{ currentEntrada.title }}
      </div>
      <br>
      <div>
        <label><strong>Història:</strong></label>
        <br>
        {{ currentEntrada.body }}
      </div>
      
      <a
        class="badge badge-warning"
        routerLink="/entrades/{{ currentEntrada.id }}"
      >
        Editar
      </a>
    </div>
  
    <div *ngIf="!currentEntrada">
      <br />
      <p>Clica a l'entrada...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentEntrada.id" class="edit-form">
      <h4>Entrada</h4>
      <form>
        <div class="form-group">
          <label for="title">Títol</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentEntrada.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="body">Història</label>
          <textarea
            type="text"
            class="form-control"
            id="body"
            [(ngModel)]="currentEntrada.body"
            name="body"
          ></textarea>
        </div>
  
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deleteEntrada()">
        Eliminar
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateEntrada()"
      >
        Actualitzar
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentEntrada.id">
      <br />
      <p>No pots accedir a aquesta entrada...</p>
    </div>
  </ng-template>
